<h2>Lista de Compradores</h2>

<a href="{% url 'crear_comprador' %}">➕ Registrar Comprador</a>

<hr>

{% for comprador in compradores %}
    <div>
        <p><strong>{{ comprador.nombre }}</strong></p>
        <p>{{ comprador.correo }}</p>
        <p>{{ comprador.telefono }}</p>
        <p>{{ comprador.direccion }}</p>

        <a href="{% url 'editar_comprador' comprador.id %}">✏ Editar</a>
        <a href="{% url 'eliminar_comprador' comprador.id %}">❌ Eliminar</a>
    </div>
    <hr>
{% empty %}
    <p>No hay compradores registrados</p>
{% endfor %}
